* {
    -fx-primary: #2a2e37;
    -fx-secondary: #F8F8FF;
}

.root{
    -fx-background-color: -fx-primary;
}

.radio-button{
    -fx-text-fill: -fx-secondary;
}

.my-button{
    -fx-border-color: -fx-secondary;
    -fx-text-fill: -fx-secondary;
    -fx-background-color: -fx-primary;
}

.my-text{
    -fx-text-color: -fx-secondary;
    -fx-text-fill: -fx-secondary;
    -fx-alignment: center;
}